# Created by .ignore support plugin (hsz.mobi)
.gradle/
.idea/inspectionProfiles/
.idea/workspace.xml
/bin/

VRL-VCSG.iml

#gradle/
#gradlew
#gradlew.bat
#settings.gradle
#src/
/.idea/
build
out/

/.eclipse
/.classpath
/.project
/.vscode
/.settings